@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.Navbar{
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: 70px;
    background: rgb(3,1,69);
    background: linear-gradient(90deg, rgba(3,1,69,1) 0%, rgba(0,146,251,1) 50%, rgba(3,1,69,1) 100%);
    position: sticky;
  }
  
  .Navbar label
  {
    position: relative;
    top: 11%;
    left: 3%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;    
    animation: colorchange 5s infinite;
    animation-duration: 5s;
    background-color: white;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
  }

@keyframes colorchange {
    0% {
      color: #05abe7;
     
    }
    50% {
      color: #032a8d;
    
    }
    100% {
      color: #05abe7;
      
    }
}

.Navbar a
{
    position: relative;
    text-decoration: none;
    float: right;
    margin:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;


}

.Navbar a:after
{
  content: "";
  position: absolute;
  background-color: rgb(255, 253, 253);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.Navbar a:hover
{
  color: white;
}


.Navbar a:hover:after
{
  width: 100%;
}





